<section id="section-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Our Latest Work</h2>
        <hr align="left" width="40%">
        <p class="lead">La croix yr cold-pressed, mumblecore vaporware migas edison bulb raw denim photo booth.</p>
      </div>
    </div>

    <!-- FIRST ROW OF CARD IMAGES -->

    <div class="row">

      <div class="col-6 col-md-3">
        <div class="card">
          <div class="work-img">
            <a href="#">
              <%= link_to image_tag("buildings.jpg", alt: "Twitter logo", class: "img-fluid", height: "100%") %>
              <div class="img-overlay"></div>
            </a>
          </div>
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3">
        <div class="card">
          <div class="work-img">
            <a href="#">
              <%= link_to image_tag("city.jpg", alt: "Twitter logo", class: "img-fluid", height: "100%") %>
              <div class="img-overlay"></div>
            </a>
          </div>
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="work-img">
            <a href="#">
              <%= link_to image_tag("girl-field.jpg", alt: "Twitter logo", class: "img-fluid", height: "100%") %>
              <div class="img-overlay"></div>
            </a>
          </div>
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="work-img">
            <a href="#">
              <%= link_to image_tag("skate.jpg", alt: "Twitter logo", class: "img-fluid", height: "100%") %>
              <div class="img-overlay"></div>
            </a>
          </div>
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

    </div>

    <!-- END OF FIRST ROW OF CARD IMAGES -->

    <!-- SECOND ROW OF CARD IMAGES -->

    <div class="row" style="padding-top: 20px;">
      
      <div class="col-sm-6 col-md-3">
        <div class="card">
          <div class="work-img">
            <a href="#">
              <%= link_to image_tag("fair.jpg", alt: "Twitter logo", class: "img-fluid", height: "100%") %>
              <div class="img-overlay"></div>
            </a>
          </div>
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="card">
          <div class="work-img">
            <a href="#">
              <%= link_to image_tag("track.jpg", alt: "Twitter logo", class: "img-fluid", height: "100%") %>
              <div class="img-overlay"></div>
            </a>
          </div>
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="card">
          <div class="work-img">
            <a href="#">
              <%= link_to image_tag("rose.jpg", alt: "Twitter logo", class: "img-fluid", height: "100%") %>
              <div class="img-overlay"></div>
            </a>
          </div>
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="card">
          <div class="work-img">
            <a href="#">
              <%= link_to image_tag("goldengate.jpg", alt: "Twitter logo", class: "img-fluid", height: "100%") %>
              <div class="img-overlay"></div>
            </a>
          </div>
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

    </div>

    <!-- END OF SECOND ROW OF CARD IMAGES -->

  </div>

  <!-- END OF CONTAINER -->

</section>